<form #loginForm="ngForm" (ngSubmit)="onLogin()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      type="text"
      name="username"
      [(ngModel)]="userLoginModel.username"
      matInput
      required
      maxlength="13"
    />
    <!-- display hints on errors -->
    <mat-hint align="end">{{userLoginModel.username.length}}/13</mat-hint>
    <mat-hint align="start" *ngIf="
        loginForm.controls['username']?.dirty && 
        loginForm.getError('required', 'username')">Username is required</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      name="password"
      [(ngModel)]="userLoginModel.password"
      matInput
      required
      minlength="5"
    />
    <mat-hint>Errors appear instantly!</mat-hint>
  </mat-form-field>
  <!-- mat-raised-button makes it a submit button or ngForm perhaps? -->
  <button [disabled]="loginForm.invalid" mat-raised-button>Basic</button>
</form>
